::-webkit-scrollbar{
	width: 6px;
	background-color: #FFF;
}
::-webkit-scrollbar-thumb{
	/* background-color: #999; */
	background-color: #CCC;
}
html,body{
	font-family: tahoma,arial,"Hiragino Sans GB","Microsoft Yahei","宋体";
	box-sizing: border-box;
	height: 100%;
}

body{
	outline: 0px none;
	overflow: hidden;
	background-color: #FFF; 
}
.tl{
	text-align: left;
}
.bold{
	font-weight: bold;
}
.none{
	display: none;
}
.pic-container{
	position:relative;
	width: 100%;
	/* height: 100%; */
	margin:0px !important;
	padding:0px !important;
	overflow: hidden;
	height: calc(100% - 140px);
}
.pic-segmentation{
	height: 10px;
	width: 100%;
	/* background: -webkit-linear-gradient(top,#b0e0e6,#c0c0c0);
    background: -moz-linear-gradient(top,#b0e0e6,#c0c0c0);
    background: -ms-linear-gradient(top,#b0e0e6,#c0c0c0);
    background: -o-linear-gradient(top,#b0e0e6,#c0c0c0);
    background: linear-gradient(top,#b0e0e6,#c0c0c0); */
	background: -webkit-linear-gradient(top,#B0E0E6,#add8e6);
    background: -moz-linear-gradient(top,#B0E0E6,#add8e6);
    background: -ms-linear-gradient(top,#B0E0E6,#add8e6);
    background: -o-linear-gradient(top,#B0E0E6,#add8e6);
    background: linear-gradient(top,#B0E0E6,#add8e6);
}
.pic-content{
	/* height: inherit; */
	height: 100%;
	margin:0px;
	padding:0px;
	overflow: hidden;
	/* border:solid 1px red; */
}
.pic-container .pic-area-col{
	/* height:inherit; */
	height: 100%;
	float: left;
	position: relative;
}
.pic-container .area-left{
	position:relative;
	width: 150px;
	/* border:solid 1px blue; */
	background: #ECECEC;
	overflow: hidden;
	/* border:solid 1px #000; */
}
/* .pic-container .area-left::before{
	content: " ";
	position: absolute;
	height: 20px;
	width: 100%;
	border-radius:0px 0px 10px 10px;
	background: -webkit-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: -moz-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: -ms-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: -o-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: linear-gradient(left top,#cd5c5c,#ff69b4);
} */

.pic-container .area-right{
	width:-moz-calc(100% - 150px);
	width:calc(100% - 150px);
	height:100%;
	/* border-left:solid 4px #ccc; */
	/* border:solid 1px green; */
	overflow: auto;
}
.pic-child-container{
	position:relative;
	width: 100%;
	height: 100%;
	padding: 5px;
}
.pic-child-content{
	position:relative;
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
	/* margin:5px 10px; */
}
.pic-child-content .content-head{
	width: 100%;
	height: 40px;
	background: #add8e6;
    border-radius: 4px 4px 0px 0px;
}
.pic-child-content .content-head .content-title{
	text-align:center;
	vertical-align:middle;
	height:100%;
	line-height:40px;
	float:left;
	padding:0px 10px;
	color:#FFF;
	font-size:18px;
	font-weight:bold;
}
.pic-child-content .content-body{
	width: 100%;
	height: calc(100% - 40px);
	overflow: hidden;
}
a{
	cursor: pointer;
}
ul,ol{
	margin: 0px;
	padding: 0px;
}
.pic-nav{
	list-style-type: none;
	list-style: none;
}
.pic-nav li{
	list-style: none;
	float: left;
}
.pic-btn{
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 4px 12px;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    overflow: hidden
}
.pic-btn:HOVER{
	color: #FFF;
	background: #00A2D4;
}
a.pic-btn,a.pic-btn:HOVER,a.pic-btn:ACTIVE{
	color:#FFF;
	outline: 0px none;
	text-decoration: none;
}
.pic-btn-small{
	padding: 2px 10px;
	border-radius: 2px;
	font-size: 11.9px;
}
.pic-btn-large{
	padding: 5px 20px;
	border-radius:4px;
	font-size: 14px;
}
.img-icon-home{
	/* background: -webkit-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: -moz-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: -ms-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: -o-linear-gradient(left top,#cd5c5c,#ff69b4);
    background: linear-gradient(left top,#cd5c5c,#ff69b4); */
    background-image: url(../../images/menu/menu_home.jpg);
}

.img-icon-search{
	/* background: -webkit-linear-gradient(left top,#1e90ff,#00bfff);
    background: -moz-linear-gradient(left top,#1e90ff,#00bfff);
    background: -ms-linear-gradient(left top,#1e90ff,#00bfff);
    background: -o-linear-gradient(left top,#1e90ff,#00bfff);
    background: linear-gradient(left top,#1e90ff,#00bfff); */
    background: url(../../images/menu/menu_search.jpg);
}
.img-icon-upload{
	/* background: -webkit-linear-gradient(left top,#556b2f,#8fbc8f);
    background: -moz-linear-gradient(left top,#556b2f,#8fbc8f);
    background: -ms-linear-gradient(left top,#556b2f,#8fbc8f);
    background: -o-linear-gradient(left top,#556b2f,#8fbc8f);
    background: linear-gradient(left top,#556b2f,#8fbc8f); */
    background: url(../../images/menu/menu_upload.jpg);
}
.img-icon-setting{
	background: url(../../images/menu/menu_setting.jpg);
}
.img-icon-manager{
	/* background: -webkit-linear-gradient(left top,#ba55d3,#9370db);
    background: -moz-linear-gradient(left top,#ba55d3,#9370db);
    background: -ms-linear-gradient(left top,#ba55d3,#9370db);
    background: -o-linear-gradient(left top,#ba55d3,#9370db);
    background: linear-gradient(left top,#ba55d3,#9370db); */
    background: url(../../images/menu/menu_manager.jpg);
}

/***********************lay page CSS begin****************************/
.laypage_main input,.laypage_main button{
	outline: 0px none;
}
.laypage_main input:focus{
	border: solid 1px #add8e6;
}
.laypage_main button{
	border-radius: 2px;
	background-color: #f1eff0 !important;
}
.laypage_main button:hover,.laypageskin_molv a:hover{
	background-color: #CCC !important;
	color: #FFF;
}
/***********************lay page CSS end****************************/

.mg-r-20{
	margin-right: 20px;
}
.mg-r-5{
	margin-right: 5px;
}
.zeroclipboard-is-hover{
	color: #000 !important;
}
/**********************jqgrid**************************************/
.ui-jqgrid tr.jqgrow td{
    white-space: normal !important;
    height: auto;
    vertical-align: middle;
    word-break: break-all;
}
/************************modal*************************************/
.inmodal .modal-header {
    padding: 5px 0px;
}
.inmodal .modal-body {
    padding: 5px 0px;
}
.inmodal .modal-footer {
    padding: 5px;
}
.inmodal .modal-title {
    font-size: 26px;
    text-align: center;
}
.inmodal .modal-footer .btn{
	background-color: #00A2D4;
}

.inmodal .form-horizontal .form-group{
	margin-left: 5px;
	margin-right: 5px;
}
.inmodal .form-horizontal .form-group .control-label{
	text-align: left;
}
/***********************form****************************/
input.error{
	box-shadow: 0 0 5px #d45252;
    -webkit-box-shadow: 0 0 5px #d45252;
    -moz-box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
    animation: invalideAnim 1s ease-out infinite;
}
label.error{
	color: #d45252;
}
.text-center{
	text-align: center;
 }
.icheckbox_square-blue{
	margin-right: 5px;
	cursor: pointer;
}
.checkbox-inline{
	cursor: pointer;
}
.icon-clock-o:before{
	content: "\f017";
}




















